@tailwind base;
@tailwind components;
@tailwind utilities;

.radio-field-body {
    padding-top: 6px;
    gap: 10px;
}

@layer components {
    body.dark {
        @apply bg-[#1e1e1e];
    }

    body.light {
        @apply bg-white;
    }

    .label {
        @apply text-slate-900 dark:text-white;
    }
}

.some-other-styles {
    color: red;
}
